body {
  background-color: white;
}

.circular--square {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  position: relative;
  top: -330px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  margin-inline: auto;
}

.slide-right {
  width: 100%;
  overflow: hidden;
  margin-top: 30px;
  font-size: 10px;
  text-align: center;
}

.project {
  position: relative;
  top: 2em;
  text-align: center;
}

@media screen and (max-width: 500px) {
  html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    color: white;
    font-family: monospace;
    background: var(--background);
  }
  body {
    justify-content: center;
    align-items: center;
    background: var(--background);
    background-color: black;
  }
  .circular--square {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    position: relative;
    top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    margin-inline: auto;
  }
  #selector {
    height: 970px;
    width: 100%;
    opacity: 0.9;
    position: relative;
    top: 350px;
    display: none;
  }
  .moon {
    position: relative;
    top: 10px;
    margin-left: 50%;
    left: -90px;
    margin-right: auto;
  }
  .dark-mode {
    background-color: white;
    color: black;
  }
  .btn {
    border: none;
    background-color: white;
    color: black;
    padding: 1px 1px;
    font-size: none;
    cursor: pointer;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
  }
  .uno {
    position: relative;
    top: 5%;
    text-align: center;
    font-size: 10px;
    color: white;
  }
  .dos {
    position: relative;
    text-align: center;
    font-size: 10px;
    top: 12%;
    color: white;
  }
  .stack {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    top: 30px;
    text-align: center;
    white-space: nowrap;
  }
  .stack span {
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 30px;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    -webkit-clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
            clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 340ms cubic-bezier(0.46, 0.29, 0, 1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
  }
  .stack span:nth-child(odd) {
    --glitch-translate: 8px;
  }
  .stack span:nth-child(even) {
    --glitch-translate: -8px;
  }
  @-webkit-keyframes stack {
    0% {
      opacity: 0;
      transform: translateX(-50%);
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    }
    60% {
      opacity: 0.5;
      transform: translateX(50%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    100% {
      text-shadow: none;
    }
  }
  @keyframes stack {
    0% {
      opacity: 0;
      transform: translateX(-50%);
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    }
    60% {
      opacity: 0.5;
      transform: translateX(50%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    100% {
      text-shadow: none;
    }
  }
  @-webkit-keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    4%, 100% {
      text-shadow: none;
      transform: none;
    }
  }
  @keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    4%, 100% {
      text-shadow: none;
      transform: none;
    }
  }
  .slide-right {
    width: 100%;
    overflow: hidden;
    margin-left: 55px;
    margin-top: 30px;
    font-size: 10px;
    max-width: 500px;
  }
  .slide-right h2 {
    -webkit-animation: 0.2s slide-right 1s forwards;
            animation: 0.2s slide-right 1s forwards;
    transform: translateX(-100%);
  }
  @-webkit-keyframes slide-right {
    to {
      transform: translateX(0);
    }
  }
  @keyframes slide-right {
    to {
      transform: translateX(0);
    }
  }
  /* yeah*/
  .about {
    text-align: center;
    position: relative;
    top: 210px;
  }
  .epic1 {
    position: relative;
    top: -12.2em;

  }
  .epic2 {
    position: relative;
    top: 2.3em;
  }
  .project {
    position: relative;
    top: 2em;
    text-align: center;
  }
  .project1 {
    position: relative;
    top: 2em;
    text-align: center;
  }
  
  .parallax {
    /* The image used */
    background-image: url("king.jpg");
    position: relative;
    top: 35px;
  
    /* Set a specific height */
    min-height: 450px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .works2 {
    position: relative;
    top: 25px;
    text-align: center;
  }

  .Contact {
    position: relative;
    top: 90px;
    text-align: center;
  }

  .fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 10%;
    position: relative;
    top: 100px;
    left: 135px;
  }
  
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  


}
/* Cut */
#selector {
  height: 370px;
  width: 100%;
  margin-top: -600px;
  opacity: 0.9;
}/*#